SUPABASE_URL=https://twkupxjqorpjpztggkyc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3a3VweGpxb3JwanB6dGdna3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5MDk4OTAsImV4cCI6MjA5MTQ4NTg5MH0.nv-1b8sqnZWndwCzRU9h7KW5187BlvVKXDykGuoceLo
PORT=3001
ADMIN_PASSWORD=wenta2025
